
.wrap_simpson{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #02a1ad;
    margin: 10px;
    padding: 10px 0;
    border-radius: 10px;
}
.title{
    padding-bottom: 10px;
}
.info{
    display: flex;
    flex-direction: column;
}
.photo{
    width: 250px;
    height: 250px;
    padding-right: 10px;

}
