.movies_wrap{
    display: flex;
    flex-wrap: wrap;
}
/*pagination start styles*/
.selected_page{
    font-weight: bold;
}


.pagination li{
    font-weight: 900;
}

.pagination_controled {
    display: flex;
    justify-content: center;
}
/*pagination end styles*/